<div class="modal fade" id="editAddressModal" tabindex="-1" aria-labelledby="editAddressModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="editAddressModalLabel">Edit Address</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/editCheckout" method="post" class="p-5 shadow rounded bg-white"
                id="editAddressForm">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name"
                            placeholder="Enter your Name" required>
                    </div>
                    <div class="col-md-6">
                        <label for="mobile" class="form-label">Mobile Number</label>
                        <input type="number" class="form-control" id="mobile" name="mobile"
                            placeholder="10-digit number" required>
                    </div>
                    <div class="col-md-6">
                        <label for="postalCode" class="form-label">Postal Code</label>
                        <input type="number" class="form-control" id="postalCode" name="postalCode"
                            placeholder="Postal Code" required>
                    </div>
                    <div class="col-md-6">
                        <label for="locality" class="form-label">Locality</label>
                        <input type="text" class="form-control" id="locality" name="locality"
                            placeholder="Locality" required>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="streetAddress" class="form-label">Address
                                (Area and Street)</label>
                            <textarea class="form-control" id="streetAddress" name="streetAddress"
                                placeholder="" rows="3" required></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="city" class="form-label">City/District/Town</label>
                        <input type="text" class="form-control" id="city" name="city" placeholder=""
                            required>
                    </div>
                    <div class="col-md-6">
                        <label for="state" class="form-label">State</label>
                        <select class="form-select" name="state" id="state" required>
                            <option selected> Select State </option>
                            <option value="AP">Andhra Pradesh</option>
                            <option value="AR">Arunachal Pradesh</option>
                            <option value="AS">Assam</option>
                            <option value="BR">Bihar</option>
                            <option value="CT">Chhattisgarh</option>
                            <option value="GA">Goa</option>
                            <option value="GJ">Gujarat</option>
                            <option value="HR">Haryana</option>
                            <option value="HP">Himachal Pradesh</option>
                            <option value="JK">Jammu and Kashmir</option>
                            <option value="JH">Jharkhand</option>
                            <option value="KA">Karnataka</option>
                            <option value="Kerala">Kerala</option>
                            <option value="MP">Madhya Pradesh</option>
                            <option value="MH">Maharashtra</option>
                            <option value="MN">Manipur</option>
                            <option value="ML">Meghalaya</option>
                            <option value="MZ">Mizoram</option>
                            <option value="NL">Nagaland</option>
                            <option value="OD">Odisha</option>
                            <option value="PB">Punjab</option>
                            <option value="RJ">Rajasthan</option>
                            <option value="SK">Sikkim</option>
                            <option value="TN">Tamil Nadu</option>
                            <option value="TG">Telangana</option>
                            <option value="TR">Tripura</option>
                            <option value="UP">Uttar Pradesh</option>
                            <option value="UT">Uttarakhand</option>
                            <option value="WB">West Bengal</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="landmark" class="form-label">Landmark</label>
                        <input type="text" class="form-control" id="landmark" name="landmark"
                            placeholder="optional">
                    </div>
                    <div class="col-md-6">
                        <label for="alterPhone" class="form-label">Alternate
                            Phone</label>
                        <input type="text" class="form-control" id="alterPhone" name="alterPhone"
                            placeholder="optional">
                    </div>
                    <div class="col-4">
                        <label for="addressType" class="form-label">Address Type</label>
                        <select class="form-select" id="addressType" name="addressType" required>
                            <option selected> Select </option>
                            <option value="home">Home</option>
                            <option value="work">Work</option>
                        </select>
                    </div>
                </div>
                <input type="hidden" id="addressId" name="addressId" value="">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveChangesBtn">Save
                        changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
