<div class="mobile-menu-overlay"></div>

<div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <nav class="mobile-nav">
            <ul class="mobile-menu">
                <li class="active">
                    <a href="home">Home</a>                    
                </li>
                <li>
                    <a href="shop">Shop</a>
                </li>
                <li>
                    <a href="#">Pages</a>
                    <ul>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>
</div>
